APP_PORT=8081

MYSQL_DATABASE=easymarket
MYSQL_USER=easymarket
MYSQL_PASSWORD=easymarket_password
MYSQL_ROOT_PASSWORD=easymarket_root_password

SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=false
SPRING_SQL_INIT_MODE=always

JAVA_OPTS=-XX:MaxRAMPercentage=75.0
